#WelcomeHeader{
  font-family:sans-serif;
  background-color:#c3cbd8;
  color:#5374aa;
  margin-top:-20px;
  /*border-radius: 15px;*/
  /*width:500px;*/

}
#NavbarItem{
  font-size:20px;
  border-top-style:solid;
  border-left-style:solid;
  border-bottom-style:solid;
  border-right-style:solid;
  border-color:Black;
  width:100px;
  display:inline;
  border-radius:10px;
  background-color:white;
}
#Navbar{
  margin-top:-10px;
  margin-right:-50px;
  background-color:lightgrey;
}
#WeedPic{
  margin-top:62px;
  margin-bottom:20px;
}
#Info{
  font-size:15px;
  margin-top:00px;
  margin-left:30px;
  ;
}
.zc-ref {
  display: none;
}
#HeatMap{
  margin-left:px;
  
}
